<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Password Generator!</title>
    <style>
      body{
        text-align: center;
        padding-top: 50px;
      }
    </style>
  </head>
  <body>
  <div class="container">
    <h1 class="text-success">Password Generator</h1><br>
    {% for message in messages %}
      {% if message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <h1 class="alert-heading">{{ message }}</h1>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    {% endif %}
    {% endfor %}
    <br>
    <form action="{% url 'password' %}">
      <h6 class="text-info">How would you like your password to be?</h6>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="upper">
        <label class="form-check-label" >contains upper</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="number">
        <label class="form-check-label" >contains numbers</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" name="special">
        <label class="form-check-label">contains special Character</label>
      </div>
      <div class="form-check form-check-inline">
        <div class="form-row align-items-center">
        <div class="col-auto my-1">
          <label class="mr-sm-2 sr-only" >Preference</label>
          <select class="custom-select mr-sm-2" name="length" >
              <option selected  disabled>Length</option>
              <option value="8" >8</option>
              <option value="9">9</option>
              <option value="10" >10</option>
              <option value=11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value=14">14</option>
              <option value="15">15</option>
          </select>
        </div>
        </div>
      </div>
      <hr>
      <input type="submit" class="btn btn-success col-md-2" value="Generate Password">
      <a class="btn btn-info col-md-2" href="{% url 'password' %}"> Refresh </a>
    </form>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>